*{
    margin-top: 0;
    padding: 0;

}

body{
    background-color: rgb(214, 214, 214);
}

body > div > header{
    display: flex;
    column-gap: 20px;
    width: 100%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    position: fixed;
    
}

/* ***** Navbar ***** */

/* ****LOGO****** */
body > div:nth-child(1) > header > div.logo > img{
    width: 90px;
    height: 30px;
    background-color: aliceblue;
}


/* ***** Search Bar ***** */
body > div:nth-child(1) > header > div:nth-child(2) > img{
    display: flex;
    width: 18px;
    height: 18px;
    margin-left: 10px;
    background: none;
    margin-top: -22px;

}

body > div:nth-child(1) > header > div:nth-child(2) > input{
    width: 400px;
    height: 25px;
    border: none;
    text-align: center;    

}

body > div > header > div:nth-child(2) > input[type=text]::placeholder{
text-align: center;
margin-top:0;
}


/* *****User Manu***** */

/* ***** Profile ***** */
/* ***** Login ***** */

body > div > header > div:nth-child(3) > div:nth-child(1) > a{
    display: flex;
    text-decoration: none;
    color: black;
    justify-content: center;
    column-gap: 8px;
    align-items: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    transition: 0.5ms;
        
}

body > div > header > div:nth-child(3) > div:nth-child(1) > a > span{
    font-size: 18px;
}

body > div > header > div:nth-child(3) > div:nth-child(2) a {
    text-decoration: none;
    color: black;
}

body > div > header > div:nth-child(3) > div > a:nth-child(1) > img:nth-child(1){
    height: 24px;
    width: 24px;
}

body > div > header > div:nth-child(3) > div > a:nth-child(1) > img:nth-child(3){
    height: 12px;
    width: 16px;
}

body > div > header > div:nth-child(3) > div:nth-child(2) > ul{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 13rem;
    text-align: left;
    text-decoration: none;
    list-style: none;
    /* margin-left: 115px; */
    background-color: white;
    font-size: 18px;
    position: absolute;
    display: none;
    
}

body > div > header > div:nth-child(3) > div:nth-child(2) > ul > li:nth-child(1) > div{
    display: flex;
    justify-items: center;
    column-gap: 8px;

}

body > div > header > div:nth-child(3) > div:nth-child(2) > ul > li:nth-child(2) > div{
    display: flex;
    justify-items: center;
    column-gap: 8px;
}

body > div > header > div:nth-child(3) > div:nth-child(2) > ul > li:nth-child(3) > div{
    display: flex;
    justify-items: center;
    column-gap: 8px;
    
}

body > div > header > div:nth-child(3) > div:nth-child(2) > ul > li:nth-child(4) > div{
    display: flex;
    justify-items: center;
    column-gap: 8px;
    
}


body > div > header > div:nth-child(3) > div:nth-child(2) > ul > li:nth-child(5) > div{
    display: flex;
    justify-items: center;
    column-gap: 8px;
    
}

.profile .login{
    position: relative;
}

.profile .login:hover{
        background-color: red;
}

body > div > header > div:nth-child(3) > div:nth-child(2) > ul > li:nth-child(6) > div{
    display: flex;
    justify-items: center;
    column-gap: 8px;
    
}

body > div > header > div:nth-child(3) > div > a:nth-child(3) > img{
    height: 24px;
    width: 24px;
}

body > div > header > div:nth-child(3) > div > a:nth-child(2) > img{
    height: 24px;
    width: 24px;
}
body > div > header > div:nth-child(3) > div > a:nth-child(3) > img{
    height: 24px;
    width: 24px;
}


/* *****CART***** */

body > div > header > div:nth-child(4) > a{
    display: flex;
    text-decoration: none;
    font-size: 18px;
    color: black;
    justify-content: center;
    column-gap: 8px;
    align-items: center;
    width: 100%;

}


/* *****Become a Seller***** */

body > div > header > div:nth-child(5) > a{
    display: flex;
    text-decoration: none;
    font-size: 18px;
    color: black;
    justify-content: center;
    column-gap: 8px;
    width: 100%;

}

body > div > header > a:nth-child(5) > img{
    height: 24px;
    width: 24px;

}

/* ***** Tree Dote ***** */

body > div.container1 > header > div:nth-child(6) > a{
    margin-left: 30px;
    
}

body > div > header > div:nth-child(6) > a{
    display: flex;
    text-align: left;
    font-size: 18px;

}

body > div > header > div:nth-child(6) > a{
    text-decoration: none;
    
}

body > div > header > div:nth-child(6) > a > div > ul{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    list-style: none;
    color: black;
    width: 100%;
    display: none;

}

body > div > header > div:nth-child(6) > a > div > ul > li:nth-child(1){
    display: flex;
    justify-items: center;
    column-gap: 8px;
    
}
body > div > header > div:nth-child(6) > a > div > ul > li:nth-child(2){
    display: flex;
    justify-items: center;
    column-gap: 8px;
    
}
body > div > header > div:nth-child(6) > a > div > ul > li:nth-child(3){
    display: flex;
    justify-items: center;
    column-gap: 8px;
    
}
body > div > header > div:nth-child(6) > a > div > ul > li:nth-child(4){
    display: flex;
    justify-items: center;
    column-gap: 8px;
}

/* ***** Manu ***** */

body > div.Manu{
    width: 90%;
    padding-top: 50px;
    margin-left: 60px;

}

body > div.Manu > div{
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    column-gap: 10px;
    text-align: center;

}

body > div.Manu > div > div > span{
    text-wrap:nowrap;
    font-size: 14px;
}

/* ***** 1 advertisement ***** */

body > div.Adv > div > img{
    width: 1090px;
    padding-top: 10px;
    margin-left: 60px;

}

/* ***** Smart Phone ***** */
body > div.smartphone > div{
    width: 75%;
    height: 235px;
    margin-top: 10px;
    margin-left: 60px;
    background-color: rgb(255, 255, 255);
}

body > div.smartphone > div > div:nth-child(1){
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    margin-left: 10px;
    padding-top: 10px;
}

body > div.smartphone > div > div:nth-child(1) > img{
    height: 23px;
    width: 25px;
    margin-left: 73%;
    background-color: blue;
    border-radius: 100%;
}

body > div.smartphone > div > div:nth-child(2){
    display: flex;
    flex-direction: row;
    overflow: hidden;
    overflow-x: scroll;
    padding: 10px;
    column-gap: 10px;

}

body > div.smartphone > div > div:nth-child(2) > div{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 12px;    
    padding: 8px;

}

body > div.smartphone > div > div:nth-child(2) > div > img{
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 120px;
    margin-bottom: 10px;

}

body > div.smartphone > div > div:nth-child(2) > div > img:hover{
    scale: 1.06;
}

body > div.smartphone > div > div:nth-child(2) > div > span{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

/* ***** side adv ***** */
body > div.sideadv{
    display: flex;
    flex-direction: row;
    float: right;
    margin-top: -238px;
    margin-right: 55px;
    padding: 3px;

}

body > div.sideadv > div > img{
    height: 245px;
    width: 175px;
}

/* ***** adv container ***** */

body > div.advcontainer{
    display: flex;
    width: 90%;
    height: 175px;
    margin-left: 60px;
    margin-top: 20px;
    column-gap: 10px;
    
}

body > div.advcontainer > div > img{
    width: 358px;
    height: 175px;
}

/* ***** fashion ***** */
body > div.fashion > div{
    width: 90.5%;
    height: 180px;
    margin-left: 60px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
}

body > div.fashion > div > div:nth-child(1){
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    padding-top: 5px;
}

body > div.fashion > div > div:nth-child(1) > img{
    height: 23px;
    width: 25px;
    margin-left: 83%;
    background-color: blue;
    border-radius: 100%;
}

body > div.fashion > div > div:nth-child(2){
    display: flex;
    flex-direction: row;
    overflow: hidden;
    overflow-x: scroll;
    padding: 10px;
    column-gap: 10px;

}

body > div.fashion > div > div:nth-child(2) > div{
    width: 120px;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
    font-size: 12px;    
    padding: 8px;

}

body > div.fashion > div > div:nth-child(2) > div > img{
    display: flex;
    flex-direction: row;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;

}

body > div.fashion > div > div:nth-child(2) > div > img:hover{
    scale: 1.06;
}

body > div.fashion > div > div:nth-child(2) > div > span{
    display: flex;
    flex-direction: row;
    text-align: center;
    text-wrap:nowrap;
    
}


/* ***** Best Gadgets & Appliances ***** */

body > div.gadgetsc{
    width: 400px;
    height: 475px;
    margin-left: 60px;
    margin-top: 35px;
    background-color: rgb(255, 255, 255);
}

body > div.gadgetsc > div.container1{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 30px;
    margin-left: 0px;
    /* margin-top: 35px; */
    align-items: center;
    
}

body > div.gadgetsc > div.container1 > div{
    padding: 10px;

}

body > div.gadgetsc > div.container1 > div > div:nth-child(1){
    margin-top: 35px;

}


body > div.gadgetsc > div.container1 > div > div:nth-child(2) > img{
    height: 23px;
    width: 25px;
    margin-left: 350px;
    margin-top: -50px;
    background-color: rgb(165, 165, 255);
    border-radius: 100%;
}


body > div.gadgetsc > div.container2{
    display: grid;
    grid-template-columns: repeat(2,200px);
    width: 100px;
    height: 250px;
    margin-top: 10px;
    text-align: center;
    justify-items: center;

}

body > div.gadgetsc > div.container2 > div{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
}

body > div.gadgetsc > div.container2 > div.item1 > img, div.item2 > img, div.item3 > img, div.item4 > img{
    width: 100px;
    height: 115px;
    padding: 15px;
    justify-content: center;
       
}

/* ***** side Adv 2 ***** */
body > div.sideadv2{
    display: flex;
    height: 200px;
    width: 200px;

}

body > div.sideadv2 > div > img{
    display: flex;
    height: 450px;
    width: 793px;
    margin-left: 475px;
    margin-top: -450px;
    
}