*{
    background-color: rgb(255, 255, 255);
}

.container{
    margin: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    margin: 10px;
    border-style: outset;
    margin-top: 0px;
}

.thumbnail{
    height: 250px;
    width: 550px;
    background-color: darkgrey;
    align-content: center;
    text-align: center;
    padding: 0px;
    margin-top: -0px;
}

.d{
    padding: 20px;
    padding-top: -40px;
    align-content: center;
    margin-top: -0px;

}

body > div > div > div:nth-child(1) > h2{
    font-size: 50px;
}

body > div > div > div.d > h3{
    margin-top: -40px;

}
